.dressCard{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 150px;
    padding: 10px;
    cursor: pointer;
}

.dressCardImg{
    width: 100px;
    height: 100px;
    border: 5px solid #27ae60;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    margin: auto;
}

.dressCard:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
